
<%= link_to 'Add Inventory', new_inventory_path, class:'btn btn-primary float-end mb-5' %>
<div>
  <% @inventories.each do |inventory| %>
  <div class='d-flex flex-row justify-content-start m-5 border border-secondary'>
    <ul class='list-group d-flex flex-column'>
      <li class='list-group-item border-0 h4'>
      <%= link_to inventory_path(inventory), class: "btn btn-success" do  %>
      <%= inventory.name %>
    <% end %>
      </li>
      <li class='list-group-item border-0'><%= link_to 'REMOVE', inventory_path(inventory), data: { turbo_method: :delete } %> </li>
    </ul>
    <p class='ps-5 lead'><%= inventory.description %></p>
  </div>
  <% end %>
</div>


