<h1>Create a new recipe</h1>
<div class="recipe-form-container">
    <%= bootstrap_form_with(model: [ @current_user, @recipe ]) do |form| %>
        <%= form.alert_message "Please fix the errors below." %>
        <%= form.text_field :name, required: true %> 
        <%= form.text_field :preparation_time, required: true %>
        <%= form.text_field :cooking_time, required: true %>
        <%= form.text_area :description, required: true %>
        <%= form.check_box :public, label: "Set as public", checked_value: true, unchecked_value: false %>
        <%= form.submit "Create recipe" %>
    <% end %>
</div>