<div class="card mb-4 w-75 mx-auto bg-secondary">
    <div class="card-header text-center"> <h3> <strong> <%= @recipe.name %> </strong> </h3> </div>
    <div class="card-body bg-secondary">
        <div class="row">
            <div class="col-md-8">
                <ul class="list-group bg-secondary">
                    <li class="list-group-item"><b>Preparation time:</b> <%= @recipe.preparation_time %></li>
                    <li class="list-group-item"><b>Cooking time:</b> <%= @recipe.cooking_time %></li>
                </ul>
                <p class="my-3"> Steps to follow: </p>
            </div>
            <div class="col-md-4">
                <div class="form-check form-switch fs-3">
                    <label class="form-check-label" for="flexSwitchCheckChecked">Public</label>
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" <%= @recipe.public ? 'checked' : '' %>>
                </div>
             </div>
        </div>
        <div class="d-flex justify-content-between">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#shoppingListModal">
                Generate shopping list
            </button>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ingredientsModal">
                Add ingredient
            </button>
        </div>
    <hr>
</div>

<%= link_to 'Back', public_recipes_path %>
</div>
