<h1>Foods#index</h1>
<p>Find me in app/views/foods/index.html.erb</p>
<%= link_to 'Add Food', new_food_path %> 


<table>
  <tr>
    <th>Food</th>
    <th>Measurement unit</th>
    <th>Unit price</th>
    <th>Actions</th>
  </tr>

    <% @foods.each do |food| %>
      <tr>
        <td><%= food.name %></td>
        <td><%= food.measurement_unit %></td>
        <td><%= food.price %></td>
        <td><%= link_to 'Delete', food_path(id: food.id), data: { turbo_method: :delete } %> </td>
      </tr>
    <% end %>
</table>
