<!DOCTYPE html>
<html>
  <head>
    <title>Recipe App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <link rel="stylesheet" media="all" href="https://bootswatch.com/5/quartz/bootstrap.min.css" />

    <%= javascript_importmap_tags %>
  </head>

  <body>
  <% if notice %>
    <p class="notice"><%= notice %></p>
  <% end %>
    <% if alert %>
      <div class="w-75 mx-auto alert alert-warning text-warning" role="alert">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
  </svg>
        <%= alert %>
      </div>
    <% end %>
    <nav class="navbar navbar-expand-lg navbar-light bg-info">
  <div class="container-fluid">
    <a class="navbar-brand fs-3" href="#">Recipe App</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav fs-5">
        <li class="nav-item">
          <%= link_to 'Public Recipes', public_recipes_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'My Recipes', recipes_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Inventories', inventories_path, class: 'nav-link' %>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto fs-5">
        <% #  if user is signed in, show sign out link %>
        <% if user_signed_in? %>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Welcome <%= current_user.name %></a>
          </li>
          <li class="nav-item">
            <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'nav-link btn btn-primary' %>
          </li>
        <% # if user is not signed in, show sign in link %>
        <% else %>
          <li class="nav-item">
            <%= link_to 'Sign In', new_user_session_path, class: 'nav-link btn btn-primary' %>
          </li>
        <% end %>
    </div>
  </div>
</nav>
    <%= yield %>
  </body>
</html>
